{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container">
        {% url 'store:home' as home_url %}
        {% include 'partials/_hero_breadcrumb.html' with title="Add Address" bc1_url=home_url bc1_label="Home" bc2_label="Add Address" %}

        <section class="py-5">
          <div class="col-md-8 offset-md-2">

          <div class="card border-0 rounded-0 mb-4" id="forms">
            <div class="card-header bg-dark text-white text-uppercase small font-weight-bold py-3">
              Add New Address
            </div>
            <div class="card-body p-lg-4">

              {% include 'partials/_messages.html' %}

              <form method="post" action="">
                <fieldset>
                  {% csrf_token %}

                  {% for fm in form %}
                      <div class="form-group">
                          <label class="text-small text-uppercase" for="{{ fm.id_for_label }}">{{ fm.label }}</label>
                          {{ fm }}
                          <small class="text-danger">{{fm.errors|striptags}}</small>
                      </div>
                  {% endfor %}
                  <button class="btn btn-dark btn-lg" type="submit">Submit</button>
                </fieldset>

                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                      <p class="alert alert-danger my-3">
                          {{error}}
                      </p>
                  {% endfor %}
                {% endif %}

              </form>

            </div>
          </div>

          </div>
        </section>
      </div>
{% endblock content %}