{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container">
        {% url 'store:home' as home_url %}
        {% include 'partials/_hero_breadcrumb.html' with title="Password Set" bc1_url=home_url bc1_label="Home" bc2_label="Password Set" %}

        <section class="py-5">
          <div class="col-md-8 offset-md-2">

          <div class="card border-0 rounded-0 mb-4" id="forms">
            <div class="card-header bg-dark text-white text-uppercase small font-weight-bold py-3">
              New Password Set Successfully
            </div>
            <div class="card-body p-lg-4 text-center">

              <p class="mb-4">Your new password has been set. You can now log in.</p>
              <a class="btn btn-dark btn-lg" href="{% url 'store:login' %}">Login</a>

            </div>
          </div>

          </div>
        </section>
      </div>
{% endblock content %}