{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container">
        {% url 'store:home' as home_url %}
        {% include 'partials/_hero_breadcrumb.html' with title="Password Changed" bc1_url=home_url bc1_label="Home" bc2_label="Password Changed" %}

        <section class="py-5">
          <div class="col-md-8 offset-md-2">

          <div class="card border-0 rounded-0 mb-4" id="forms">
            <div class="card-header bg-dark text-white text-uppercase small font-weight-bold py-3">
              Password Changed Successfully
            </div>
            <div class="card-body p-lg-4 text-center">

              <p class="mb-4">Your password has been changed.</p>
              <a class="btn btn-dark btn-lg" href="{% url 'store:profile' %}">Back to Profile</a>

            </div>
          </div>

          </div>
        </section>
      </div>
{% endblock content %}