{% extends 'base.html' %}
{% load static %}
{% load humanize %}

    {% block content %}

      <div class="container">
        <!-- HERO SECTION-->
        {% url 'store:home' as home_url %}
        {% include 'partials/_hero_breadcrumb.html' with title="Shop" bc1_url=home_url bc1_label="Home" bc2_label="Shop" %}
        <section class="py-5">
          <div class="container p-0">
            <div class="row">
              <!-- SHOP SIDEBAR-->
              <div class="col-lg-3 order-2 order-lg-1">
                <h5 class="text-uppercase mb-4">Categories</h5>
                {% if categories_menu %}
                <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">Jewelry Collections</strong></div>
                <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal mb-5">
                  {% for cat in categories_menu %}
                    <li class="mb-2"><a class="reset-anchor" href="{% url 'store:category-products' cat.slug %}">{{ cat.title }}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
                <h5 class="text-uppercase mb-3">Quick Links</h5>
                <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
                  <li class="mb-2"><a class="reset-anchor" href="{% url 'store:all-categories' %}">All Categories</a></li>
                  <li class="mb-2"><a class="reset-anchor" href="{% url 'store:shop' %}">All Products</a></li>
                </ul>
              </div>
              <!-- SHOP LISTING-->
              <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row mb-3 align-items-center">
                  <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-small text-muted mb-0">Showing {{ products.start_index }}–{{ products.end_index }} of {{ products.paginator.count }} results</p>
                  </div>
                  <div class="col-lg-6">
                  </div>
                </div>
                <div class="row">

                  {% if products %}
                    {% for product in products %}

                      <!-- PRODUCT-->
                      <div class="col-lg-4 col-sm-6">
                        <div class="product text-center">
                          <div class="mb-3 position-relative">

                            <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                              {% include 'partials/_product_image.html' with product=product %}
                            </a>

                            <div class="product-overlay">
                              <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#" aria-label="Add to wishlist"><i class="far fa-heart"></i></a></li>
                                <li class="list-inline-item m-0 p-0">
                                  {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Add to cart</a> {% endcomment %}

                                  <form method="post" action="{% url 'store:add-to-cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="prod_id" value="{{product.id}}">
                                    <button type="submit" class="btn btn-sm btn-dark">Add to Cart</button>
                                  </form>

                                </li>
                              </ul>
                            </div>
                          </div>
                          <h6> <a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">{{product.title}}</a></h6>
                          <p class="small text-muted">${{product.price|intcomma}}</p>
                        </div>
                      </div>

                    {% endfor %}
                  {% endif %}


                </div>
                <!-- PAGINATION-->
                {% if products.has_other_pages %}
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center justify-content-lg-end">
                    {% if products.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}
                    {% for num in products.paginator.page_range %}
                      {% if products.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    {% endif %}
                  </ul>
                </nav>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endblock content %}